<div class="parent">
    <div class="container-cs">
    <div class="add-heading">
        Add a Product
    </div>
    <div class="top-container">
        <form enctype="multipart/form-data" #myForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="input-div">
            <label for="">Image</label>
            <input (change)="selectFile($event)"  type="file" name="image" accept="image/*"   required>
            
        </div>
        <div class="input-div">
            <label for="">Name</label>
            <input type="text" placeholder="Enter Product Name..." name="name" [(ngModel)]="formData.name" required>
        </div>
        <div class="input-div">
            <label for="">Description</label>
            <textarea name="description" rows="4" cols="50" [(ngModel)]="formData.description" required></textarea>

        </div>
        <div class="input-div">
            <label for="">Code</label>
            <input type="text" placeholder="Enter Product Code..." name="code" [(ngModel)]="formData.code" required>
        </div>
        <div class="input-div">
            <label for="">Release Date</label>
            <input type="date" placeholder="Enter Product Release Date..." name="date" [(ngModel)]="formData.releaseDate" required>
        </div>
        <div class="input-div">
            <label for="">Price</label>
            <input type="number"   placeholder="Enter Price..."  name="price" [(ngModel)]="formData.price" required>
        </div>
        <div class="input-div">
            <label for="">Rating</label>
            <input type="range" min="0" max="5" value="1" step="0.5"  placeholder="Enter Product Rating..." name="rating" [(ngModel)]="formData.rating" required list="markers">

            <datalist id="markers">
                <option value="0" label="0"></option>
                <option value="1" label="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
              </datalist>
        </div>
        

        <div class="input-div">
            <button class="post-btn" type="submit">Post</button>
        </div>
        </form>
    </div>
</div>
</div>
